.best {
	background: url("/img/bg/bg.png") center center / cover no-repeat;
	color: $dark-grey;
}

.best__container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.best__title {
	padding-top: 140px;
}

.best__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	padding-top: 0;
	margin-bottom: 0;
}

.best__item {
	margin-left: 30px;
	width: calc(100%/3 - 30px);
	text-align: center;
	display: inline-block;
	
}

.best__subtitle {
	font-family: 'lifehack';
	font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.17;
	letter-spacing: -0.6px;
	margin-bottom: 10px;
 }

.best__desc {
	opacity: 0.8;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
}

.best__img {
	width: 97px;
	height: 89px;
	margin-bottom: 30px;
}