.dot-menu {
  position: fixed;
  top: rem(90px);
  right: rem(55px);
	z-index: 10;
	
	@include phones {
		display: none;
	}

	@include tablets {
		display: none;
	}
}

.dot-menu__dot {
  display: block;
  height: rem(16px);
  width: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  margin-bottom: rem(5px);
	position: relative; 
}

.dot-menu__dot:before {
  content: '';
  width: rem(6px);
  height: rem(6px);
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot-menu__dot--active, .dot-menu__dot:hover {
	border-color: $white;
}