.first-page {
	background: url("../img/bg/texture.png"), url("../img/bg/video-bg.jpg") center center / cover no-repeat;
	position: relative;
	
	@include tablets {
		padding-bottom: rem(100px);
	}

}
.first-page__container {
	height: 100%;
	display: flex;
	}

.first-page__content{
	display: flex;

	@include tablets {
		flex-direction: column;
	}

	align-items: center;
	justify-content: center;
}

.first-page__pic {
	margin-left: rem(20px);
	
	flex-shrink: 0;

	@include tablets {
		flex-shrink: 1;	
	}

	overflow: hidden;
}

.first-page__title {
	padding-top: rem(55px);
	margin-left: rem(10px);
	@include small-phones {
		margin-left: rem(0px);
	}
	@include tablets {
		padding-top: rem(20px);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
}

.first-page__subtitle {
	margin-top: rem(20px);
	font-family: Lifehack;
  font-size: rem(65px);
  font-weight: 500;
  font-style: normal;
  line-height: 0.92;
	letter-spacing: -1.63px;
	color: $white;

	@include tablets {
		text-align: center;
		padding: 0 rem(20px);	
	}
	@include small-phones {
		padding: 0 rem(10px);	
	}
}

.first-page__arrow {
	width: rem(29px);
	height: rem(17px);
	border: none;
	background: url("../img/icons/arrow-scroll.svg") center center / cover no-repeat;
	position: absolute;
	bottom: rem(30px);
	left: 50%;
	transform: translateX(-50%);
	font-size: 0;
	cursor: pointer;
}

.first-page__img {
	width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}