.footer {
	background: url('../img/bg/footer_bg.png') center bottom no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  padding: 5px 0;
}

.footer__container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer__col {
	width: 50%;  
}

.footer__address {
	font-family: ubuntu;
	font-size: 14px;
	font-weight: 300;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: $white;
}

.footer__phone {
	text-decoration: none;
	font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
	color: $orange-two;
	display: flex;
	
	}

.footer__phone:before {
	
	content : "";
	align-self: center;
	margin-bottom: 3px;
	flex-shrink: 0;
	width: 14px;
	height: 14px;
	margin-right: 10px;
	background-image: url(/img/icons/phone.svg);
	background-position: center center;
	background-repeat: no-repeat;
}


.footer__col--right {
  text-align: right;
  margin-bottom: 0;
}