.form {
	background: url("../img/bg/form-bg-texture.png") 50% no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
}
.form__title {
	margin-bottom: 40px;
}

.form__label-title {
	display: block;
		font-family: Ubuntu;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: $white;
}
.form__radio-title {
		font-family: Ubuntu;
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: $white;
}

.form__wrapper {
 display: flex;
}

.form__content {
	display: flex;
} 

.form__block {
	margin-left: 20px;
	width: 50%;
	display: flex;
	flex-direction: column;
}	

.form__block--left {
	margin-left: 0px;
	
}	

.form__input {
	padding-left: 20px; ;
	height: 36px;
	border-radius: 5px;
	outline: none;
  border: solid 2px transparent;
	background-color:	$white;
	width: 100%;
	&:focus {
		border-color: $yellow;
	}
	&:hover {
		border-color: $yellow;
	}

}

.form__row {
display: flex;
margin-bottom: 18px;
}

.form__label {
	flex: 1;
	margin-left: 20px;

	&:first-child{
		margin-left: 0;
	}
}

.form__textarea {
	min-height: 115px;
	resize: none;
}

.form__radio-wrapp {
	display: flex;
	
}
.form__radio-label {
	margin-right: 20px;
	display: flex;
	align-items: center;
	}

.form__radio-label:last-child	 {
	margin-right: 0px;
}

.form__radio-input {
	 display: none;
 }

.form__radio-fake {
	// display: block;
	width: 16px;
	height: 16px;
	border: 1px solid $white;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
}

.form__radio-fake:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	border-radius: 50%;
	background-color: $orange-two;
	position: absolute;
	top: 50%;	
	left: 50%;
	transform: translate(-50%,-50%);
	}



.form__radio-title {
	margin-left: 10px;
}
// .form__radio-input:checked + .form__radio-fake {
// 	border-color: $white;
// }

.form__radio-input:checked + .form__radio-fake:after {
	width: 8px;
	height: 8px;
}

.form__radio-fake-checkbox {
	width: 16px;
	height: 16px;
	border: 1px solid $white;
	background-color: #fff;
	display: flex;
	align-items: center;
}

.form__radio-fake-checkbox:after {
	content: '';
	width: 16px;
	height: 16px;
	// display: block;
	background-image: url(/img/icons/checkmark.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.form__radio-input:checked + .form__radio-fake-checkbox:after {
	width: 0;	
	height: 0;
}

.form__row--textarea {
	margin-bottom: 10px;
} 

.form__input::placeholder {

color: $dark-grey;
font-size: 14px;
font-family: ubuntu;
font-weight: 300;
}