.menu {
	
	@include tablets {
		display: none;
	}

	@include phones {
		display: none;
	}
	
	flex-grow: 1;
	margin-left: rem(70px);
	display: flex;
	justify-content:space-between;
}

.menu__list {
	display: flex;
}

.menu__item{
	display: flex;
	align-items: center;
	margin-right: rem(17px);
	position: relative;
	
	&:before{
	content: "";
	width: rem(4px);
  height: rem(4px);
	background-color: $white;
  border-radius: 50%;
  display: block;
  margin-right: rem(15px);
	}

	&:first-child:before {
		content: "";
		display: none;
	}
	&:last-child{
		margin-right: 0;
	}
}

.menu__link {
	text-decoration: none;
	color: $white;
	font-family: 'Ubuntu';
	font-size: rem(13px);
	text-transform: uppercase;
}