.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  flex-basis: 25%;
	height: 50%;
	
	@include tablets {
		flex-basis: 50%;
		height: 25%;
	}

  position: relative;
  filter: grayscale(100%);

	&:hover {
    .reviews__hover {
      opacity: 1;
    }
  }
}

.reviews__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.reviews__hover {
	opacity: 0;
  color: $white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.3);
  padding: rem(50px) rem(30px) rem(50px) rem(20px);
	transition: opacity .4s;
	font-size: rem(14px);
	font-family: Ubuntu;
  font-weight: 300;
  font-style: normal;
  line-height: 1.71;
	text-align: left;

	@include tablets {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
}

.reviews__name {
	font-family: Gagalin;
	font-weight: normal;
	line-height: 2;
	margin-bottom: rem(10px);

	@include phones {
		font-size: rem(24px);
		line-height: 1.3;
	}
}


.btn--reviews {
	margin-top: rem(17px);
	background: $dark-grey;

	&:hover {
		background: #1f2122;
	}
	
}

.reviews__desc {
	height: rem(150px);
	overflow: hidden;
	text-overflow: ellipsis;
	
	@include phones {
		display: none;
	}

}